// Layout
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 1025px;
$xl: 1280px; // default
$xxl: 1920px;
$xxxl: 2560px;
$grid-breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  // 2xl: $xxl,
  // 3xl: $xxxl
);
$grid-count: 12;

// Palette
$color-black: #000;
$color-white: #fff;
$color-blue-ribbon: #0d6efd;
$color-pale-sky: #6c757d;
$color-genoa: #198754;
$color-punch: #dc3545;
$color-amber: #ffc107;
$color-bright-turquoise: #0dcaf0;
$color-athens-gray: #f8f9fa;
$color-shark: #212529;

// Colors & Gradients
$color-text: $color-black;
$color-bg: $color-white;
$color-heading: $color-text;
$color-primary: $color-blue-ribbon;
$color-primary-hover: darken($color-primary, 15);
$color-secondary: $color-pale-sky;
$color-success: $color-genoa;
$color-danger: $color-punch;
$color-warning: $color-amber;
$color-info: $color-bright-turquoise;
$color-light: $color-athens-gray;
$color-dark: $color-shark;
$colors: (
  color-text: $color-text,
  color-bg: $color-bg,
  color-heading: $color-heading,
  color-primary: $color-primary,
  color-primary-hover: $color-primary-hover,
  color-secondary: $color-secondary,
  color-success: $color-success,
  color-danger: $color-danger,
  color-warning: $color-warning,
  color-info: $color-info,
  color-light: $color-light,
  color-dark: $color-dark,
);
$gradients: (
);

// Utilities
$spacer: 4rem;
$spacers: 0, px, auto, p,
  0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4,
  5, 6, 7, 8, 9, 10, 11, 12,
  14, 16, 18, 20,
  24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64,
  72, 80,
  96;
